@import 'variables';
@import 'bootstrap/bootstrap';
@import 'base/*';

body {
    font-family: 'Roboto', $font-family-base;
    background-color: $bg-color;

    &.wf-active {
        font-family: $font-family-base;
    }
}

@import 'components/*';
