$bg-color: #e9e9e9;
$grey: #55606e;
$grey-dark: #343a41;
$green: #24afb2;
$green-dark: #187779;
$red: #cd4237;

$main-border-radius: 10px;

$main-padding: 5px;

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
