.button {
    width: 100%;
    min-width: 150px;
    padding: 5px;
    color: #fff;
    background-color: $green;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none;
    transition: all .4s ease;

    &.disabled {
        min-width: 120px;
        padding: 5px 0;
        background-color: #8b8b8b;

        &:hover {
            cursor: not-allowed;
            background-color: #8b8b8b;
        }
    }

    @include media-breakpoint-up(md) {
        width: unset;
    }

    &:hover,
    &:focus {
        cursor: pointer;
        background-color: $green-dark;
        outline: none;
    }

    &.blue {
        background-color: $blue;

        &:hover,
        &:focus {
            background-color: $blue-dark;
        }
    }
}
