.button {
    min-width: 150px;
    color: #fff;
    padding: 5px;
    background-color: $green;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none;
    width: 100%;

    @include media-breakpoint-up(md) {
        width: unset;
    }

    &:hover,
    &:focus {
        cursor: pointer;
        background-color: $green-dark;
        outline: none;
    }

    &.grey {
        background-color: $grey;

        &:hover,
        &:focus {
            background-color: $grey-dark;
        }
    }
}
